{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Узнай погоду в своем городе</h1>
        <form method="post" class="mb-4">
            {% csrf_token %}
            <input id="id_city_name" type="text" name="city_name" data-autocomplete-url="{% url 'main:city_autocomplete' %}" class="form-control" placeholder="Введите название города">
            <input id="id_latitude" type="hidden" name="latitude">
            <input id="id_longitude" type="hidden" name="longitude">
            <button type="submit" class="btn btn-primary mt-3">Узнать погоду</button>
        </form>

        {% if messages %}
            <div class="alert alert-warning">
                <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if weather_data %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ weather_data.city_name }}</h3>
                    <p class="card-text">Погода: {{ weather_data.current_weather.description }}</p>
                    <p class="card-text">Температура: {{ weather_data.current_weather.temperature }} °C</p>
                    <p class="card-text">Скорость ветра: {{ weather_data.current_weather.windspeed }} км/ч</p>

                </div>
            </div>
        {% endif %}

        {% if history %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">История поиска</h3>
                    {% for item in history %}
                        <p class="card-text">
                            <a href="#" onclick="submitCityForm('{{ item.city_name }}'); return false;">
                                {{ item.city_name }}
                            </a>
                        </p>
                        <form id="city-form-{{ forloop.counter }}" method="post" style="display: none;">
                            {% csrf_token %}
                            <input type="hidden" name="city_name" value="{{ item.city_name }}">
                        </form>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

{% endblock content %}
